@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-BookItalic";
  src: url("../fonts/Gotham-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}